@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

body {
  line-height: 1;
}

/*Typography*/
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppinsregular"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.svg") format("woff"), url("../fonts/poppins-regular-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins bold"), local("Poppinsbold"), url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppinsmedium"), url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium-webfont.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppinslight Italic"), local("Poppinslightitalic"), url("../fonts/poppins-lightitalic-webfont.woff2") format("woff2"), url("../fonts/poppins-lightitalic-webfont.woff") format("woff"), url("../fonts/poppins-lightitalic-webfont.svg") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 1.78;
  font-weight: 300;
}

[class*=__container] {
  max-width: 310px;
  margin: 0 auto;
  padding: 0 1.071428rem;
}
@media (min-width: 419.98px) {
  [class*=__container] {
    max-width: 410px;
  }
}
@media (min-width: 519.98px) {
  [class*=__container] {
    max-width: 510px;
  }
}
@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (min-width: 990.98px) {
  [class*=__container] {
    max-width: 970px;
    padding: 0 0;
  }
}
@media (min-width: 1200px) {
  [class*=__container] {
    max-width: 1170px;
  }
}

h1,
h2,
h3,
h4 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: #212529;
}
@media (min-width: 767.98px) {
  h1,
h2,
h3,
h4 {
    font-size: 1.787rem;
  }
}

h3,
h4 {
  font-weight: 500;
}

h4 {
  font-size: 1.14rem;
}

p {
  font-size: inherit;
  color: #6C757D;
}

br {
  display: none;
}
@media (min-width: 990.98px) {
  br {
    display: inline;
  }
}

img {
  max-width: 100%;
  border-radius: 0 0 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__wrapper {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}
@media (min-width: 767.98px) {
  .page__wrapper {
    grid-template-rows: 7rem 1fr -webkit-min-content;
    grid-template-rows: 7rem 1fr min-content;
  }
}

.page__main {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  height: 100%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-auto-flow: row;
  gap: 0;
}
@media (min-width: 767.98px) {
  .page__main {
    grid-area: 1/1/3/1;
    z-index: 1;
  }
}

.page__header {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

.page__container {
  display: flex;
  max-width: 100%;
  min-height: 100px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.71428rem 0;
}
@media (min-width: 767.98px) {
  .page__container {
    max-width: inherit;
    margin: 0 auto;
    flex-direction: row;
    padding: 0 1em;
    justify-content: center;
  }
}
@media (min-width: 990.98px) {
  .page__container {
    justify-content: space-between;
  }
}
.page__container .page__brand {
  padding: 1.1rem 1.3rem;
  box-sizing: border-box;
  text-align: center;
}

.intro {
  background-color: #888f98;
  background-image: url(../img/1x/intro_picture_1x.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/2x/intro_picture_2x.jpg);
  }
}

.intro__container {
  display: flex;
  min-height: 7.1428rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 767.98px) {
  .intro__container {
    max-width: inherit;
    gap: 1.8rem;
  }
}

.blockquote {
  padding: calc(55% - 7.1428rem) 0 calc(35% - 0.71428rem) 0;
  text-align: center;
  color: #F8F9FA;
  box-sizing: border-box;
}
@media (min-width: 519.98px) {
  .blockquote {
    padding: calc(40% - 10rem) 0 calc(20% - 0.71428rem) 0;
  }
}
@media (min-width: 990.98px) {
  .blockquote {
    padding: calc(28% - 10rem) 0 calc(12% - 0.71428rem) 0;
  }
}
.blockquote span {
  font-weight: 300;
  font-size: 0.8571rem;
  line-height: 1.7;
  text-transform: capitalize;
  opacity: 0.75;
}
.blockquote span:last-of-type {
  text-transform: uppercase;
}
.blockquote p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: inherit;
}
@media (min-width: 767.98px) {
  .blockquote p {
    font-size: 1.787rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid tomato;
  width: 100%;
}
@media (min-width: 767.98px) {
  .menu {
    width: auto;
    flex-direction: row;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 0.21428rem;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .menu__list {
    flex-direction: row;
  }
}

.menu-item {
  border: 1px solid tomato;
}

.menu-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1.3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2;
  color: rgba(248, 249, 250, 0.75);
  box-sizing: border-box;
}
@media (min-width: 767.98px) {
  .menu-item {
    font-size: 0.95rem;
  }
}
.menu-item:hover {
  text-decoration: underline;
  color: #F8F9FA;
}
.menu-item:active {
  opacity: 0.5;
}

.menu-item--current {
  color: #F8F9FA;
  cursor: auto;
}
.menu-item--current:hover, .menu-item--current:hover::after {
  text-decoration: none;
}
.menu-item--current:active {
  opacity: 1;
}

.menu-item--search:hover {
  text-decoration: none;
  color: #F8F9FA;
}

.menu-item--dropdown svg {
  align-self: center;
  margin-left: auto;
}
@media (min-width: 767.98px) {
  .menu-item--dropdown svg {
    margin-left: 0.3571rem;
  }
}

.search {
  display: flex;
  align-items: center;
  gap: 0.35714rem;
}

.search__input {
  width: 100%;
}

.search__label {
  display: flex;
  padding-top: 0.35714rem;
}

.block {
  padding: 1.5rem 0;
}
.block p {
  margin-bottom: 2rem;
}
.block p:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 767.98px) {
  .block {
    padding: 3em 0;
  }
}

.block--second img {
  margin-bottom: 1.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 767.98px) {
  .block--second img {
    padding-bottom: 3rem;
  }
}

.block--forth {
  background-color: #f0f1f3;
}
.block--forth .block__info {
  margin: 0 0;
}

.block__info,
.block__article {
  margin: 0 auto;
  max-width: 100%;
}
@media (min-width: 990.98px) {
  .block__info,
.block__article {
    max-width: calc(90%/1.3);
  }
}

.block__article {
  padding-top: 3rem;
}

.block__info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0;
}
@media (min-width: 767.98px) {
  .block__info {
    padding: 3rem 0 0;
  }
}
.block__info p {
  order: 1;
  font-size: 0.85714rem;
  line-height: 1.7;
}
.block__info p:last-of-type {
  margin-bottom: 1rem;
}
.block__info b {
  font-weight: 700;
}
.block__info .block__headline {
  order: 2;
}

.headline--third {
  text-align: center;
}
@media (min-width: 519.98px) {
  .headline--third {
    text-align: left;
  }
}

.headline--forth {
  text-align: center;
  order: 2;
}
@media (min-width: 519.98px) {
  .headline--forth {
    text-align: left;
  }
}

.image {
  display: flex;
  row-gap: 0.75rem;
  gap: 2.1rem;
  flex-wrap: wrap;
  padding-bottom: 0;
}
.image div {
  flex-shrink: 2;
}
.image div img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 519.98px) {
  .image div {
    flex-grow: 0.5;
    flex-basis: 45%;
  }
}
@media (min-width: 767.98px) {
  .image {
    padding-bottom: 3rem;
  }
}

.buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1.025rem;
  padding-top: 2.25rem;
  padding-bottom: 3rem;
}
@media (min-width: 767.98px) {
  .buttons {
    padding-top: 4.5rem;
  }
}
@media (min-width: 990.98px) {
  .buttons {
    width: calc(90%/1.3);
  }
}

.buttons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.21428rem 0.85714rem;
  -moz-column-gap: 0.285714rem;
       column-gap: 0.285714rem;
  font-size: 1rem;
  font-weight: 700;
  color: #6C757D;
  border: 2px solid #888f98;
  border-radius: 0.21428rem;
  flex-basis: 20%;
  flex-shrink: 1;
  flex-grow: 2;
}
.buttons__item:last-of-type {
  margin-left: auto;
  border: 2px solid transparent;
}
@media (min-width: 767.98px) {
  .buttons__item {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 0.55rem;
  }
}

.latest-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 3rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 519.98px) {
  .latest-blocks {
    flex-direction: row;
    align-items: stretch;
  }
}

.latest-blocks__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
}
@media (min-width: 519.98px) {
  .latest-blocks__item {
    flex-direction: row;
    align-items: stretch;
  }
}
@media (min-width: 767.98px) {
  .latest-blocks__item {
    flex-basis: 30%;
  }
}
@media (min-width: 990.98px) {
  .latest-blocks__item {
    flex-basis: 45%;
  }
}
@media (min-width: 1200px) {
  .latest-blocks__item {
    flex-basis: 31.5%;
  }
}

.latest-blocks__image {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 100%;
}
@media (min-width: 519.98px) {
  .latest-blocks__image {
    flex-basis: 40%;
  }
}
@media (min-width: 767.98px) {
  .latest-blocks__image {
    flex-basis: 86%;
  }
}
@media (min-width: 990.98px) {
  .latest-blocks__image {
    flex-basis: 45.7%;
  }
}

.latest-blocks__description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  flex-grow: 0;
  flex-shrink: 2;
  flex-basis: 100%;
  align-items: center;
}
@media (min-width: 519.98px) {
  .latest-blocks__description {
    align-items: stretch;
    flex-basis: 50%;
  }
}
@media (min-width: 767.98px) {
  .latest-blocks__description {
    flex-basis: 85%;
  }
}
@media (min-width: 990.98px) {
  .latest-blocks__description {
    flex-basis: 46%;
  }
}
.latest-blocks__description span {
  order: 1;
  padding-top: 5px;
  font-size: 0.85714rem;
  line-height: 1.7;
  color: #6C757D;
}

.footer-block {
  padding: 4rem 0 0 0;
  color: rgba(248, 249, 250, 0.75);
  background-color: #212529;
}
@media (min-width: 767.98px) {
  .footer-block {
    padding: calc(100%/20) 0;
  }
}

.footer-block__upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.footer-block__upper div {
  flex-basis: auto;
}
@media (min-width: 767.98px) {
  .footer-block__upper {
    justify-content: space-between;
  }
}

.footer-block__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footer-block__upper,
.footer-block__lower {
  display: flex;
}

.footer-block__upper {
  padding-bottom: calc(100%/40);
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}

.footer-block__lower {
  padding-top: calc(100%/30);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767.98px) {
  .footer-block__lower {
    justify-content: space-between;
  }
}

.footer-block__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 1.78571rem;
       column-gap: 1.78571rem;
}
/*# sourceMappingURL=style.css.map */
