
.block {

  padding: 1.5rem 0;

  p {

    margin-bottom: 2rem;

    &:last-of-type {

      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {

    padding: 3em 0;
  }
}

.block--second {

  img {

    margin-bottom: 1.5rem;
    object-fit: cover;

    @media (min-width: $tablet-width) {

      padding-bottom: 3rem;
    }
  }

}

.block--forth {

  background-color: $special-grey;

  .block__info {

    margin: 0 0;
  }
}

.block__info,
.block__article {

  margin: 0 auto;
  max-width: 100%;

  @media (min-width: $sm-desktop-width) {

    max-width: calc(90%/1.3);
  }
}

.block__article {

  padding-top: 3rem;

}

.block__info {

  display: flex;
  flex-direction: column;
  padding: 1.5rem 0 0;

  @media (min-width: $tablet-width) {

    padding: 3rem 0 0;
  }

  p {

    order: 1;
    font-size: 0.85714rem;
    line-height: 1.7;

    &:last-of-type {

      margin-bottom: 1rem;

      }
  }

  b {

    font-weight: 700;
  }

  .block__headline {

    order:2
  }
}
