
.footer-block {

  padding: 4rem 0 0 0;
  color: $basic-light-grey-alfa;
  background-color: $basic-black;

  @media (min-width: $tablet-width) {

    padding: calc(100%/20) 0;
  }
}

.footer-block__upper {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  div {

    flex-basis: auto;
  }

  @media (min-width: $tablet-width) {

    justify-content: space-between;
  }
}

.footer-block__container {

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.footer-block__upper,
.footer-block__lower {

  display: flex;
}

.footer-block__upper {

  padding-bottom: calc(100%/40);
  border-bottom: 1px solid $basic-white-alfa;
}

.footer-block__lower {

  padding-top: calc(100%/30);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {

    justify-content: space-between;
  }
}

.footer-block__list {

  display: flex;
  flex-wrap: wrap;
  column-gap: 1.78571rem;
}
