
.headline--first {

  margin-top: calc(600px/38);
  margin-bottom: calc(600px/16);
}

.headline--second {

  margin-bottom: calc(600px/16);
}

.headline--third {

  margin-bottom: calc(600px/16);
}

.headline--forth {

  order: 2;
}
