
.headline--third {

  text-align: center;

  @media (min-width: $sm-tablet-width) {

    text-align: left;
  }
}

.headline--forth {

  text-align: center;
  order: 2;

  @media (min-width: $sm-tablet-width) {

    text-align: left;
  }
}
