
.image {

  display: flex;
  row-gap: 0.75rem;
  gap: 2.1rem;
  flex-wrap: wrap;
  padding-bottom: 0;

  div {

    flex-shrink: 2;

    img {

      object-fit: cover;
    }

    @media (min-width: $sm-tablet-width) {

      flex-grow: 0.5;
      flex-basis: 45%;

    }
  }
  @media (min-width: $tablet-width) {

    padding-bottom: 3rem;
  }
}

