
.menu-item {

  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem 1.3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2;
  color: $basic-light-grey-alfa;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {

    font-size: 0.95rem;
  }

  &:hover {

    text-decoration: underline;
    color: $basic-light-grey;
  }

  &:active {

    opacity: 0.50;
  }
}

.menu-item--current {

  color: $basic-light-grey;
  cursor: auto;

  &:hover,
  &:hover::after {

    text-decoration: none;
  }

  &:active {

    opacity: 1;
  }
}

.menu-item--search {

  &:hover {

    text-decoration: none;
    color: $basic-light-grey;
  }
}

.menu-item--dropdown svg {

  align-self: center;
  margin-left: auto;

  @media (min-width: $tablet-width) {

    margin-left: 0.3571rem;
  }
}
