
body {

  font-family: "Poppins";
  font-size: 14px;
  line-height: 1.78;
  font-weight: 300;
}

[class*="__container"] {

  max-width: 310px;
  margin: 0 auto;
  padding: 0 1.071428rem;


  @media(min-width: $mobile-width) {

    max-width: 410px;
  }

  @media(min-width: $sm-tablet-width) {

    max-width: 510px;
  }

  @media(min-width: $tablet-width) {

    max-width: 750px;
  }

  @media(min-width: $sm-desktop-width) {

    max-width: 970px;
  }

  @media(min-width: $desktop-width) {

    max-width: 1170px;
  }

  @media(min-width: $lg-desktop-width) {

    max-width: 1240px;
  }
}

h1,
h2,
h3,
h4,
.section__hilight {

  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: $basic-black;

  @media(min-width: $tablet-width) {

    font-size: 1.787rem;
  }
}

h3,
h4 {

  font-weight: 500;
}

h4 {

  font-size: 1.14rem;
}

ul:not(.menu__list), ol {

  @media (min-width: $sm-desktop-width) {

    flex-basis: 30%;
    flex-shrink: 1;
  }
}

ol {

  counter-reset: item;
}

p, li {

  font-size: inherit;
  color: $basic-dark-grey;
}


p {

  margin-bottom: 1.4286rem;
}

li:not(.menu-item) {

  min-height: 1.4286rem;
  margin-bottom: 0.7143rem;
  padding-left: 2.1429rem;
}

li:last-child, p:last-child {

  margin-bottom: 0;
}

br {

  display: none;

  @media(min-width: $desktop-width) {

    display: inline;
  }
}

img {

  max-width: 100%;
  border-radius: 0 0 0 0;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}
