
$basic-grey:#888f98;
$basic-light-grey:#f8f9fa;
$basic-light-grey-alfa: rgba(249, 250, 251, 0.75);
$basic-white-alfa: rgba(229, 229, 229, 0.2);
$special-grey: #E5E5E5;
$basic-dark-grey:#6C757D;
$basic-dark-grey-blue:#637381;
$basic-black: #212529;
$basic-white:#ffffff;
$basic-purple: rgb(244, 247, 255);
$basic-blue: #3056D3;
$basic: transparent;
$special-gradient: linear-gradient(110deg, rgba(244,247,255,1) 0%, rgba(132,48,211,0.08174607733718486) 40%, rgba(139,61,214,0.07614383644082634) 63%, rgba(103,65,212,0.16017744988620453) 63%, rgba(98,63,211,0.5803455171130952) 71%, rgba(89,67,211,0.48230630142682074) 71%, rgba(63,79,211,0.08454719778536413) 100%);

$mobile-width: 419.98px;
$sm-tablet-width: 519.98px;
$tablet-width: 767.98px;
$pre-sm-desktop-width: 830.98px;
$sm-desktop-width: 990.98px;
$desktop-width: 1200px;
$lg-desktop-width: 1300px;
