
$basic-grey:#888f98;
$basic-light-grey:#F8F9FA;
$basic-light-grey-alfa: rgba(248, 249, 250, 0.75);
$basic-white-alfa: rgba(229, 229, 229, 0.2);
$special-grey: #f0f1f3;
$basic-dark-grey:#6C757D;
$basic-black: #212529;

$tablet-width: 767.98px;
$sm-desktop-width: 990.98px;
$desktop-width: 1200px;
