@charset "UTF-8";
/* --------- ОБНУЛЕННЯ СТИЛІВ ТЕГІВ ------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

body {
  line-height: 1;
}

/*Typography*/
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppinsregular"), url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.svg") format("woff"), url("../fonts/poppins-regular-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins bold"), local("Poppinsbold"), url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff"), url("../fonts/poppins-bold-webfont.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppinsmedium"), url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff"), url("../fonts/poppins-medium-webfont.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppinslight Italic"), local("Poppinslightitalic"), url("../fonts/poppins-lightitalic-webfont.woff2") format("woff2"), url("../fonts/poppins-lightitalic-webfont.woff") format("woff"), url("../fonts/poppins-lightitalic-webfont.svg") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 1.78;
  font-weight: 300;
}

[class*=__container] {
  max-width: 310px;
  margin: 0 auto;
  padding: 0 1.071428rem;
}
@media (min-width: 419.98px) {
  [class*=__container] {
    max-width: 410px;
  }
}
@media (min-width: 519.98px) {
  [class*=__container] {
    max-width: 510px;
  }
}
@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (min-width: 990.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  [class*=__container] {
    max-width: 1170px;
  }
}
@media (min-width: 1300px) {
  [class*=__container] {
    max-width: 1240px;
  }
}

[type=button] {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0.7143rem 2.1429rem;
  min-width: 10rem;
  font-size: 1.1428rem;
  line-height: 1.5;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
.section__hilight {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: #212529;
}
@media (min-width: 767.98px) {
  h1,
  h2,
  h3,
  h4,
  .section__hilight {
    font-size: 1.787rem;
  }
}

h3,
h4 {
  font-weight: 500;
}

h4 {
  font-size: 1.14rem;
}

@media (min-width: 990.98px) {
  ul:not(.menu__list), ol {
    flex-basis: 30%;
    flex-shrink: 1;
  }
}

ol {
  counter-reset: item;
}

p, li {
  font-size: inherit;
  color: #6C757D;
}

p {
  margin-bottom: 1.4286rem;
}

li:not(.menu-item) {
  min-height: 1.4286rem;
  margin-bottom: 0.7143rem;
  padding-left: 2.1429rem;
}

li:last-child, p:last-child {
  margin-bottom: 0;
}

br {
  display: none;
}
@media (min-width: 990.98px) {
  br {
    display: inline;
  }
}

img {
  max-width: 100%;
  border-radius: 0 0 0 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}
@media (min-width: 767.98px) {
  .page__wrapper {
    grid-template-rows: 7rem 1fr min-content;
  }
}

.page__main {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content min-content min-content;
  grid-auto-flow: row;
  gap: 0;
}
@media (min-width: 767.98px) {
  .page__main {
    grid-area: 1/1/3/1;
    z-index: 1;
  }
}

.page__header {
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  background-color: #212529;
}
@media (min-width: 767.98px) {
  .page__header {
    background-color: transparent;
  }
}

.page__container {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.71428rem 0;
}
@media (min-width: 767.98px) {
  .page__container {
    margin: 0 auto;
    flex-direction: row;
    padding: 0 1rem;
    justify-content: center;
  }
}
@media (min-width: 990.98px) {
  .page__container {
    justify-content: space-between;
  }
}
@media (min-width: 990.98px) {
  .page__container {
    padding: 0 0;
  }
}
.page__container .page__brand {
  display: flex;
  align-items: center;
  padding: 1.1rem 1.3rem;
  box-sizing: border-box;
  text-align: center;
}

.page__text-block {
  margin: 0 auto;
  max-width: 90%;
}
@media (min-width: 767.98px) {
  .page__text-block {
    max-width: 86.9565217391%;
  }
}
@media (min-width: 990.98px) {
  .page__text-block {
    max-width: 58.8235294118%;
  }
}
.page__text-block p:first-child {
  margin-bottom: 30px;
}
.page__text-block > *:not(:last-child) {
  margin-bottom: 2.8571rem;
}

.page__tips {
  display: flex;
  justify-content: flex-start;
  gap: 2.1429rem;
  flex-wrap: wrap;
}
.page__tips > * li {
  position: relative;
}

.section--background {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #212529 url(../img/1x/dark_background_image_1x.jpg) center/cover no-repeat;
}
@media (min-width: 767.98px) {
  .section--background {
    padding-top: 23.5714rem;
    padding-bottom: 13.5714rem;
  }
}
.section--background p {
  text-align: center;
}
.section--background p:not(:last-child) {
  margin-bottom: 2.1428rem;
}
@media (min-width: 767.98px) {
  .section--background p {
    text-align: left;
  }
}
@media (min-resolution: 2dppx) {
  .section--background {
    background: #212529 url(../img/2x/dark_background_image_2x.jpg) center/cover no-repeat;
  }
}

.section--gradient {
  background-color: rgb(244, 247, 255);
  background-image: linear-gradient(110deg, rgb(244, 247, 255) 0%, rgba(132, 48, 211, 0.0817460773) 40%, rgba(139, 61, 214, 0.0761438364) 63%, rgba(103, 65, 212, 0.1601774499) 63%, rgba(98, 63, 211, 0.5803455171) 71%, rgba(89, 67, 211, 0.4823063014) 71%, rgba(63, 79, 211, 0.0845471978) 100%);
  padding: 5.7142rem 0;
}
@media (min-width: 830.98px) {
  .section--gradient {
    padding: 80px 80px 80px 0;
  }
}
.section--gradient .section__inner-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 50px;
  text-align: center;
}
@media (min-width: 830.98px) {
  .section--gradient .section__inner-container {
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}
.section--gradient .section__inner-container > :first-of-type {
  flex-basis: 100%;
}
@media (min-width: 830.98px) {
  .section--gradient .section__inner-container > :first-of-type {
    flex-basis: auto;
  }
}
.section--gradient .section__inner-container > :last-of-type {
  flex-basis: 100%;
}
@media (min-width: 830.98px) {
  .section--gradient .section__inner-container > :last-of-type {
    flex-basis: auto;
  }
}
.section--gradient .section__inner-container .section__inner-part > :first-child {
  font-size: 1.2857rem;
  line-height: 1.3;
  font-weight: 700;
  color: #3056D3;
}
.section--gradient .section__inner-container .section__inner-part > :nth-child(2) {
  font-size: 2.5714rem;
  line-height: 1.25;
  color: #212529;
}
.section--gradient .section__inner-container .section__inner-part > :nth-child(3) {
  color: #637381;
}
.section--gradient .section__inner-container .section__inner-part .section__title-link {
  color: #ffffff;
  background-color: #3056D3;
  border: 4px solid transparent;
  border-radius: 2.1429rem;
  transition: all 0.55s ease;
}
.section--gradient .section__inner-container .section__inner-part .section__title-link:hover, .section--gradient .section__inner-container .section__inner-part .section__title-link:focus {
  color: #3056D3;
  background-color: transparent;
  border: 4px solid #3056D3;
}
.section--gradient .section__inner-container .section__inner-part .section__title-link:active {
  color: #637381;
  background-color: transparent;
  border: 4px solid #637381;
}

.section__title-primary {
  color: #ffffff;
  font-size: 1.7857rem;
  line-height: 1.6;
  font-weight: 700;
}
.section__title-secondary {
  color: #E5E5E5;
  font-weight: 300;
}
.section__image {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  -o-object-fit: cover;
     object-fit: cover;
  gap: 2.1428rem;
  flex-wrap: wrap;
}
.section__image .section__figure {
  flex-basis: 100%;
}
@media (min-width: 767.98px) {
  .section__image .section__figure {
    flex-basis: 45%;
    flex-shrink: 2;
  }
}
.section__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.section--about {
  padding: 5.7142rem 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
@media (min-width: 767.98px) {
  .menu {
    width: auto;
    flex-direction: row;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 0.21428rem;
  flex-direction: column;
}
@media (min-width: 767.98px) {
  .menu__list {
    flex-direction: row;
  }
}

.menu-item {
  position: relative;
  display: flex;
  min-height: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1.3rem;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(249, 250, 251, 0.75);
  box-sizing: border-box;
}
@media (min-width: 767.98px) {
  .menu-item {
    font-size: 0.95rem;
  }
}
.menu-item:hover {
  text-decoration: underline;
  color: #f8f9fa;
}
.menu-item:active {
  opacity: 0.5;
}

.menu-item--current {
  color: #f8f9fa;
  cursor: auto;
}
.menu-item--current:hover, .menu-item--current:hover::after {
  text-decoration: none;
}
.menu-item--current:active {
  opacity: 1;
}

.menu-item--search:hover {
  text-decoration: none;
  color: #f8f9fa;
}

.menu-item--dropdown svg {
  align-self: center;
  margin-left: auto;
}
@media (min-width: 767.98px) {
  .menu-item--dropdown svg {
    margin-left: 0.3571rem;
  }
}

.search {
  position: relative;
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 0.35714rem;
}
@media (min-width: 767.98px) {
  .search {
    max-width: 300px;
  }
}

.search__input {
  margin-right: 16px;
  max-width: 50px;
  min-height: 50px;
  padding-left: 50px;
  float: left;
  color: rgba(249, 250, 251, 0.75);
  background-color: transparent;
  border: 2px solid transparent;
  border-left: 2px solid rgba(249, 250, 251, 0.75);
  transition: all 0.55s ease;
}
.search__input:hover, .search__input:focus, .search__input:active {
  max-width: 100%;
  outline: #212529;
  color: #f8f9fa;
  background-color: #212529;
  border: 2px solid #f8f9fa;
  border-radius: 4px;
}
@media (min-width: 767.98px) {
  .search__input:hover, .search__input:focus, .search__input:active {
    max-width: 300px;
  }
}

.search__label {
  position: absolute;
  display: flex;
  top: 0;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
}

.headline--third {
  text-align: center;
}
@media (min-width: 519.98px) {
  .headline--third {
    text-align: left;
  }
}

.headline--forth {
  text-align: center;
  order: 2;
}
@media (min-width: 519.98px) {
  .headline--forth {
    text-align: left;
  }
}

.list--background-use li {
  background: url("../img/svg/cross_red-in-round.svg") 0 2px/20px no-repeat;
}

.list--pseudo-use li::before {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/svg/check_in-round_green.svg") 0 2px/20px no-repeat;
  content: "";
}

.list--pseudo-two-use li::before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: transparent;
  border: 1px solid #3056D3;
  border-radius: 50%;
  content: "";
}
.list--pseudo-two-use li::after {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 4px;
  background: url("../img/svg/check.svg") 2px 2px/8px no-repeat;
  content: "";
}

.list--pseudo-arrow-use li::before {
  width: 24px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: 0;
  background: url("../img/svg/arrow_to_right.svg") 0 0/20px no-repeat;
  content: "";
}

.list--style-use li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #3056D3;
  border-radius: 50%;
  content: "";
}

.list--pseudo-count-use li {
  display: flex;
  align-items: flex-start;
  padding-left: 0;
}
.list--pseudo-count-use li::before {
  flex-basis: 1.7857rem;
  height: 1.7857rem;
  flex-shrink: 0;
  margin-right: 8px;
  counter-increment: item;
  content: counter(item);
  display: block;
  line-height: 25px;
  color: #ffffff;
  background: #3056D3;
  border-radius: 3px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
